JWT_SECRET=change-me

DATE_START_TIME_GMT=1300

USER_A_USERNAME=user_a
USER_A_PASSWORD=pass_a
USER_A_ID=A
USER_A_NAME=User A

USER_B_USERNAME=user_b
USER_B_PASSWORD=pass_b
USER_B_ID=B
USER_B_NAME=User B
